<section class="site-album">
  <div class="album-row">
    <img src="{{ site.github.url }}/img/layout/footer/dhs-tsa-screening.jpg" alt="TSA airport screening operation" />
      <img src="{{ site.github.url }}/img/layout/footer/dhs-K9-packages.jpg" alt="K9 Mail Officer inspects mail for contraband" />
      <img src="{{ site.github.url }}/img/layout/footer/dhs-fema-cityscape.jpg" alt="FEMA agent surveying Hurricane Sandy damage in Breezy Point, NY" />
      <img src="{{ site.github.url }}/img/layout/footer/dhs-firemen.jpg" alt="Urban Search and Rescue team members on top of rubble on 9/11" />
      <img src="{{ site.github.url }}/img/layout/footer/dhs-border-patrol-rescue.jpg" alt="Border Patrol rescuing a man in water" />
      <img src="{{ site.github.url }}/img/layout/footer/dhs-border-horses.jpg" alt="Two San Diego sector Border Patrol agents on horseback" />
  </div>
  <div class="album-row">
    <img src="{{ site.github.url }}/img/layout/footer/dhs-pilots.jpg" alt="View from a helicopter during a patrol on the Rio Grande" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-border-patrol-helicopter.jpg" alt="Rappeling from a helicopter" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-screens.jpg" alt="Man in front of screens monitoring the darknet for drugs and weapons" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-fema-helping.jpg" alt="A couple impacted by flooding being helped by FEMA officials" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-conference-situation.jpg" alt="Flooding response war room" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-wildfire.jpg" alt="Firefighters at a wildfire in Angeles National Forest" />
  </div>
</section>

<div class="feature-panel">
  <h3><em>Deliver for our homeland</em></h3>
  <h4>We need top technologists to serve tours of duty, working on the nation's biggest homeland security challenges.</h4>
</div>

<div class="join-button-container">
  <a href="#join-us"><button class="join-button">Join Us</button></a>
</div>
