<section class="site-album">
  <div class="album-row">
    <img src="{{ site.github.url }}/img/layout/footer/dhs-border-patrol-rescue.jpg" alt="the USDS logo written in marker" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-pilots.jpg" alt="a picture of the USDS team at a staff meeting" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-border-patrol-helicopter.jpg" alt="the USDS emoji logo written on a whiteboard" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-screens.jpg" alt="the USDS talent team taking a selfie at the white house" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-terminal.jpg" alt="a cardboard sign that says meeting in progress" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-wildfire.jpg" alt="a USDS engineer working infront of a fireplace" />
  </div>
  <div class="album-row">
    <img src="{{ site.github.url }}/img/layout/footer/dhs-K9-packages.jpg" alt="the defense digital service posing for a team photo" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-firemen.jpg" alt="the USDS team at dhs posing for a team photo" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-fema-helping.jpg" alt="a usa embroidered jacket hanging on a coat rack" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-conference-situation.jpg" alt="the USDS team working in the HQ office" />
    <img src="{{ site.github.url }}/img/layout/footer/dhs-border-horses.jpg" alt="a hand holding a USDS sticker" />
    <img src="{{ site.github.url }}/img/layout/footer/usds-team-laughing-in-meeting.jpg" alt="members of the USDS team laughing in a meeting" />
  </div>
</section>

<div class="feature-panel">
  <h3><em>Change lives every day</em></h3>
  <h4>We need top technologists to serve tours of duty, working on the nation's biggest challenges.</h4>
</div>
<div class="join-button-container">
  <a href="/join"><button class="join-button">Join Us</button></a>
</div>
