<header id="fixed-header" role="banner">
  <div class="disclaimer-bar">
    <div class="usa-grid">
      <div class="usa-width-one-whole">
        <div id="beta-notice" class="hidden-xs">
          This site is in beta and a <a href="https://playbook.cio.gov" target="_blank">work in progress</a>
        </div>
        <img class="eop-seal" alt="United States flag icon" src="{{ site.github.url }}/img/layout/usa-flag.png" />
        <span class="hidden-xs">An official website of the </span>United States Government
      </div>
    </div>
  </div>

  <nav class="site-navbar">
    <div class="desktop">
      <ul class="usa-unstyled-list">
        <li class="nav-item {% if page.url == '/mission.html' or page.url == '/values.html'  or page.url == '/story.html' %}active{% endif %}">
          <a href="{{site.github.url}}/mission"><span>About</span></a>
          <ul>
            <li><a href="{{ site.github.url }}/mission">Our Mission</a></li>
            <li><a href="{{ site.github.url }}/values">Our Values</a></li>
            <li><a href="{{ site.github.url }}/story">Our Story</a></li>
          </ul>
        </li>
        <li class="nav-item {% if page.url == '/work.html' %}active{% endif %}">
        <a href="{{ site.github.url }}/work"><span>Our work</span></a>
        </li>
        <li class="nav-centerpiece">
        <a id="logo-desktop-full" href="{{ site.github.url }}/">
              <img alt="The seal of the Department of Homeland Security" src="{{ site.github.url }}/img/layout/dhs-seal-250.png" />
          </a>
          <a id="logo-desktop-collapsed" href="{{ site.github.url }}/">
              <img alt="The seal of the Department of Homeland Security" src="{{ site.github.url }}/img/layout/dhs-seal-250.png" />
          </a>
        </li>
        <li class="nav-item {% if page.url == '/blog.html' %}active{% endif %}">
        <a href="{{ site.github.url }}/blog"><span>Blog</span></a>
        </li>
        <li class="nav-item {% if page.url == '/join.html' %}active{% endif %}">
        <a href="{{ site.github.url }}/join"><span>Join us</span></a>
        </li>
      </ul>
      <div id="submenu-background">&nbsp;</div>
      
    </div>
    <div class="mobile">
        <a href="{{site.github.url}}/">
          <img alt="The seal of the Department of Homeland Security" src="{{ site.github.url }} /img/layout/dhs-seal-250.png" />
      </a>
      <button class="navbar-toggle collapsed">
        <div class="navbar-text">Menu</div>
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-patty"></span>
        <span class="hamburger-patty"></span>
        <span class="hamburger-patty"></span>
      </button>
      <div class="mobile-nav collapsed">
        <ul class="usa-unstyled-list">
          <li class="nav-item">
          <a href="{{ site.github.url }}/about">About</a>
            <ul>
              <li class="nav-item"><a href="{{ site.github.url }}/mission">Our Mission</a></li>
              <li class="nav-item"><a href="{{ site.github.url }}/values">Our Values</a></li>
              <li class="nav-item"><a href="{{ site.github.url }}/story">Our Story</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{{ site.github.url }}/work">Our work</a>
          </li>
          <li class="nav-item">
            <a href="{{ site.github.url }}/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a href="{{ site.github.url }}/join">Join us</a>
          </li>
      </div>
    </div>
  </nav>
</header>
